@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: RSU;
  src: url("fonts/RSU.ttf");
}

@font-face {
  font-family: NotoSansThai;
  src: url("fonts/NotoSansThai.ttf");
}

body {
  background-color: #f8f9f9;
}

@layer base {
  html,
  * {
    font-family: fontTh1, RSU, sans-serif;
  }
}

.cardp {
  width: 270px;
  height: 410px;
  padding: 0.8em;
  background: #ffffff;
  // position: relative;
  // overflow: visible;
  margin-top: 15%;
  margin-left: 55px;
}
.card-est {
  height: 410px;
  padding: 0.8em;
  background: #fff;
}
//  .cardp{
//   display: grid;
//   grid-template-columns: repeat(auto-fit, minmax(8rem,1fr));
//   grid-auto-rows: 6rem;
//  }

.cardp-img {
  // background-color: #f7594f;
  height: 60%;
  width: 100%;
  // border-radius: .5rem;
  transition: 0.3s ease;
}

.cardp-info {
  // padding-top: 10%;
}

svg {
  width: 20px;
  height: 20px;
}

.cardp-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*Text*/
.text-title {
  font-weight: 900;
  // font-size: 20px;
  line-height: 1.5;
}

.text-body {
  // font-size: .9em;
  padding-bottom: 10px;
}

/*Button*/
//  .cardp-button {
//   border: 1px solid #252525;
//   display: flex;
//   padding: .3em;
//   cursor: pointer;
//   border-radius: 50px;
//   transition: .3s ease-in-out;
//  }

/*Hover*/
.cardp-img {
  transform: translateY(-25%);
  // box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
}

.swal2-title {
  font-size: 2.25rem !important;
  line-height: 2.5rem !important;
}
.swal2-html-container {
  font-size: 2.25rem !important;
  line-height: 2.5rem !important;
}
